.Products {
    background-color: rgb(255, 255, 255);
    align-items: center;
    gap: 50px;
    padding: 60px 80px;
}

.Products h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.4em;
}

.cards__container {
    height: 100%;
    width: 100%;
    gap: 60px;
    flex-wrap: wrap;
}