.Card {
    height: 350px;
    width: 300px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card__text {
    color: rgb(0, 0, 0);
    font-size: 1.4em;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    padding: 0 20px;
}

.card__text p:first-of-type {
    text-transform: uppercase;
    font-size: 0.8em;
}

.card__text p:last-of-type {
    font-family: 'Baloo 2', cursive;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    margin-bottom: 20px;
    padding: 0px 12px;
    border-radius: 20px;
    background-color: rgb(173, 169, 129);
}

.card__image {
    width: 100%;
    height: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}