.ContactCard {
    height: 100px;
    width: 450px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    gap: 30px;
    align-items: center;
    color: white;
}

.ContactCard img {
    width: 50px;
    height: 50px;
    filter: invert(1);
}

.ContactCard div p:first-of-type {
    color: rgb(180, 180, 180);
    margin-bottom: 2px;
}

.ContactCard:hover {
    background-color: rgb(216, 207, 124);
    border: 2px solid rgb(216, 207, 124);
    color: black;
    cursor: pointer;
}

.ContactCard:hover > div p:first-of-type {
    color: black;
}

.ContactCard:hover > img {
    filter: invert(0);
}

@media (max-width: 1200px) {
    .ContactCard {
        font-size: 0.8em;
        width: 380px;
    }
}